name: Build
on:
  push:
    branches: [main, develop]
  pull_request:
  release:
    types: [created]
  workflow_dispatch:

permissions:
  contents: write
  actions: read

jobs:
  build:
    uses: LePhiAnhDev/ci-ios-theos/.github/workflows/ios-theos-build.yml@main
    with:
      sdk_version: '16.5'           # iOS SDK version
      theos_repo: 'official'        # 'official' hoặc 'roothide'
      upload_release: ${{ github.event_name == 'release' }}
      artifact_retention_days: 30   # 1-90 ngày
